html{
	background-color: #ddd;
}

select {
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  background-color: #999;
}

input[type=submit]{
	background-color: #999;
	border: none;
	padding: 8px 16px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

button{
	background-color: #999;
	border: none;
	padding: 8px 16px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 15px 15px 15px 15px;
}

input{
	border-radius: 15px 15px 15px 15px;
	text-align: center;
}

#formulaire{
	background-color: #bbb;
	border-radius: 15px 15px 15px 15px;
	width: 20%;
	margin-top: 15px;
	text-align: center;
}

.mainTitle{
	font-size: 150%;
}

#trombi{
	background-color: #bbb;
}

#infosEtu{
	background-color: #bbb;
	width: 20%;
	text-align: center;
	margin: auto;
	border-radius: 15px 15px 15px 15px;
}

ul{
	list-style: none;
}

.imgEtu:hover{
	cursor: pointer;
}

table{
	border: solid 1px #222;
	margin: auto;
}

td{
	border: solid 1px #222;
}

button{
	background-color: #999;
	border: none;
	padding: 8px 16px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 15px 15px 15px 15px;
}